.navbar {
    padding: 0px 0px 0px 10px !important;
    background-color: #26A69A;
    align-items: stretch !important;
}

.navbar .mainMenu {
    color: black;
    /* Change Font Family */
    /* Change Text Color */
}

.navbar .mainMenu:hover {
    color: #00b89c;
}


#rightMenu {
    color: black;
    /* Change Text Color */
}

#rightMenu:hover {
    color: #00b89c;
}

#rightMenu:active {
    color: #00b89c;
}

#logo {
    padding: 2px;
}