#leftProfile {
    margin: 10px;
    padding: 1%;
}

#rightProfile {
    margin: 10px;
    padding: 1%;
}

#lessons {
    margin-top: 0px;
}

#lessonsLabel {
    margin-bottom: 3px;
    margin-top: 10px;
}

#rightProfile .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#availableTimes td:hover {
    background-color: #4aa0e6;
}

.active {
    background-color: #4aa0e6;
}

.dropIcon {
    text-align: right;
}